/* Este arquivo agora contém apenas estilos que não são facilmente cobertos pelo Tailwind */

/* Animação para feedback de erro/botão ativo */
@keyframes tremor {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-1px, -2px) rotate(-1deg); }
    50% { transform: translate(1px, -1px) rotate(1deg); }
    75% { transform: translate(-1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.tremor {
    animation: tremor 0.3s ease-in-out 2; 
}


/* --- Estilos para o Toggle Switch (Alarme de Pausa) --- */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* gray-400 */
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #10B981; /* emerald-500 (cor de sucesso) */
}

input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}