/* Este arquivo agora contém apenas estilos que não são facilmente cobertos pelo Tailwind */

/* Animação para feedback de erro/botão ativo */
@keyframes tremor {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-1px, -2px) rotate(-1deg); }
    50% { transform: translate(1px, -1px) rotate(1deg); }
    75% { transform: translate(-1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.tremor {
    animation: tremor 0.3s ease-in-out 2; 
}